.filters {
    background-color: white;
    border: 1px solid #DDDDDD;
    height: 70px;
    width: 100%;
    border-radius: 4px;
}

/* Locations and Amenities */
.filters .locations,
.filters .amenities {
    display: inline-block;  
    height: 100%;
    width: 25%;
    position: relative;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
.filters div:first-child
{
    border-right: 1px solid #DDDDDD;
}
.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    display: none;
    width: 100%;
}
.filters ul {
    padding: 6px 0 6px 0;
    margin: 0;
}
.filters .locations li {
    margin: 0 auto 6px 3em;
    list-style: none;
}
.filters .amenities li {
    margin: 12px auto 12px 30px;
    list-style: none;
}

.filters h2,
.filters h3,
.filters h4 {
    margin: 0;
}
.filters h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0 0 30px;
}
.filters h3 {
    font-weight: 600;
    height: 50%;
    padding: 15px 0 0 30px;
}
.filters h4 {
    font-size: 14px;
    font-weight: 400;
    height: 50%;
    padding: 4px 0 12px 30px;
}


/* Search button */
.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}
.filters button:hover {
    opacity: 90%;
}